.background-for-transparent {
  background: #7A306C;
  padding: 1rem;
}
.transparent-border {
  padding: 10px;
  border: 10px solid hsla(0, 0%, 100%, .5);
  background: #8E8DBE;
  /* default value is border-box */
  background-clip: padding-box;
}

.multiple-borders {
  margin: 10px;
  padding: 10px;
  background: #A9E4EF;
  box-shadow: 0 0 0 10px #7A306C ,
              0 0 0 15px #8E8DBE,
              0 2px 5px 15px rgba(0, 0, 0, .6);
}

.multiple-borders-2 {
  margin: 10px;
  padding: 10px;
  background: #A9E4EF;
  border: 10px solid #7A306C ;
  outline: 15px solid #8E8DBE;
}

.stitched-border {
  margin: 10px;
  padding: 20px;
  background: white;
  border: 5px solid #7A306C ;
  outline: 5px dashed black;
  outline-offset: -20px;
}

// backgrounds

.inner-rounding {
  width: 300px;
  margin: 0 auto;
  background: #8E8DBE;
  padding: .8em;
  div {
    background: #A9E4EF;
    border-radius: .8em;
    padding: 1em;
  }
}

.inner-rounding-box {
  width: 300px;
  margin: 0 auto;
  background: #A9E4EF;
  border-radius: .8em;
  padding: 1em;
  box-shadow: 0 0 0 .6em #8E8DBE;
  outline: .6em solid #8E8DBE;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container {
  width: 100%;
  div, figure {
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    div {
      width: 50%;
      padding: 5px;
      background-color: white;
      opacity: .6;
    }
  }
}

.striped-background {
  background: linear-gradient(#8E8DBE 50%, #A9E4EF 50%);
}

.striped-background-2 {
  background: linear-gradient(#8E8DBE 50%, #A9E4EF 50%);
  background-size: 100% 30px;
}

.striped-background-3 {
  background: linear-gradient(#8E8DBE 30%, #A9E4EF 0);
  background-size: 100% 30px;
}

.striped-background-4 {
  background: linear-gradient(#8E8DBE 30%, #A9E4EF 0, #A9E4EF 66.6%, #7A306C 0);
  background-size: 100% 45px;
}

.striped-background-5 {
  background: linear-gradient(to right, #8E8DBE 30%, #A9E4EF 0, #A9E4EF 66.6%, #7A306C 0);
  background-size: 30px 100%;
}

.striped-background-6 {
  background: linear-gradient(45deg, #8E8DBE 25%, #A9E4EF 0, #A9E4EF 50%, #8E8DBE 0, #8E8DBE 75%, #A9E4EF 0);
  background-size: 42px 42px;
}

.striped-background-7 {
  background: repeating-linear-gradient(45deg, #8E8DBE, #A9E4EF 30px);
}

.striped-background-8 {
  background: repeating-linear-gradient(25deg, #8E8DBE, #8E8DBE 15px,  #A9E4EF 0, #A9E4EF 30px);
}

.striped-background-9 {
  background: #7A306C;
  background-image: repeating-linear-gradient(30deg, hsla(0, 0%, 100%, .1),
                                                     hsla(0, 0%, 100%, .1) 15px,
                                                     transparent 0, transparent 30px);
}
