a:visited {
  color: #4C4C9D;
}

a:hover, a:focus {
  color: $button-color;
}

hr {
  background-color: #4C4C9D;
  height: 3px;
}

p {
  line-height: 1.75rem;
  font-size: 1.2rem;
}

.pagination > * {
  height: 44px;
  width: 44px;
  margin: 8px;
  padding: 2px 8px;
  font-size: 1.5rem;
}

section, img {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

section {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  padding-bottom: 2rem;
}
a.btn {
  background-color: transparent;
  border: solid 2px $button-color;
  color: $button-color;
  padding: .5rem 2.5rem;
  border-radius: 3px;
  width: auto;
  align-self: flex-end;
}

.custom-list {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-container div {
  display: inline-block;
}

.contact-form {
  width: 50%;
  height: 350px;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  color: $grey-color-dark;
  label {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  input {
    line-height: 1.75rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.2rem;
    font-style: inherit;
  }
  textarea {
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-style: inherit;
    font-size: 1.2rem;
    margin: 1.5rem 0 1rem 0;
    height: 150px;
    padding: 5px;
  }
  input[type="submit"] {
    border: solid 2px $button-color;
    background: transparent;
    color: $button-color;
    border-radius: 3px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      background-color: $background-color;
    }
  }
  @media only screen and (max-width: 500px){
    width: 80%;
    margin: 0 auto;
  }
}

.post-item:not(:last-of-type) {
  border-bottom: solid 1px lightgrey;
  margin-bottom: 1rem;
  padding: .5rem 0;
}
