.elliptical-rounding {
  border-radius: 100px / 75px;
  width: 200px;
  height: 75px;
  background-color: #8E8DBE;
  margin-bottom: 50px;
}

.elliptical-rounding-responsive {
  border-radius: 50% / 50%;
  width: 200px;
  height: 75px;
  background-color: #A9E4EF;
  margin-bottom: 50px;
}

.half-ellipsis {
  height: 100px;
  width: 200px;
  margin-bottom: 50px;
  background-color: #8E8DBE;
  border-radius: 100% 0 0 100% / 50%;
}

.quarter-ellipsis {
  height: 100px;
  width: 200px;
  margin-bottom: 50px;
  background-color: #A9E4EF;
  border-radius: 100% 0 0 0;
}

.button {
  position: relative;
  background: transparent;
  color: white;
  height: 50px;
  width: 100px;
  padding: .5em 1em;
  border: 0;
  margin: .5em;
  text-decoration: none;
  text-transform: uppercase;
  font: 100% 'Helvetica', sans-serif;
}

.button::before {
  content: ''; //to generate the box
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #A9E4EF;
  transform: skew(45deg);
  box-shadow: 8px 8px 5px -6px rgba(143,135,143,1);
}

.skewy {
  position: relative;
  height: 50px;
  width: 100px;
  background: transparent;
  padding: .5em 1em;
  border: 0;
  margin: .5em;
  color: white;
  text-align: center;
}

.skewy::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-33deg);
  background: #8E8DBE;
  box-shadow: 8px 8px 5px -6px rgba(143,135,143,1);
}

.diamond {
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  overflow: hidden;
  margin-bottom: 100px;
}

.diamond > img {
  max-width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.42);
}

.clip-image {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s clip-path;
}

.clip-image:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
